body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: white;
}

.content {
    flex: 1;
    padding-right: 20px;
}

h1 {
    font-size: 2.5rem;
    color: rgb(0, 0, 160);
}

p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

.image {
    flex: 2;
    text-align: center;
}

.image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}


.hero-content p {
  font-size: 20px;
  font-weight: 500;
  color: #e0e0e0;
  margin-bottom: 30px;
}
